<h1>A short data project - UK rainfall</h1>

In [9]:
%matplotlib inline #prevent matplot from using popup visualisations
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
rain_df = pd.read_csv('data/uk_rain_2014.csv')

In [16]:
rain_df.head()

,Water Year,Rain (mm) Oct-Sep,Outflow (m3/s) Oct-Sep,Rain (mm) Dec-Feb,Outflow (m3/s) Dec-Feb,Rain (mm) Jun-Aug,Outflow (m3/s) Jun-Aug
0,1980/81,1182,5408,292,7248,174,2212
1,1981/82,1098,5112,257,7316,242,1936
2,1982/83,1156,5701,330,8567,124,1802
3,1983/84,993,4265,391,8905,141,1078
4,1984/85,1182,5364,217,5813,343,4313

<h2>Notes</h2>
<p>
    <ul>
        <li><strong>Outflow</strong>: Not sure if meteorology (airflow from storm) or hydrology (water flow out of system) definition applies! Think hydrology definition is more likely.</li>
        <li><strong>Water year</strong> perhaps should be converted to a date type.</li>
        <li>Table contains columns with values representing a year's measurements (<strong>Rain (mm) Oct-Sep</strong> and <strong>Outflow (mm) Oct-Sep</strong>), alongside four columns each of which represents a period of three months (<strong>Rain (mm) Dec-Feb</strong> etc).</li>
    </ul>
</p>